.card {
  border-radius: 8px;
  width: 85%;
  height: 10rem;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  color: white;
  padding: 12px;
}

.card-HTML{
  background-color: rgb(228,103,39);

}

.card-Python{
  background-color: rgb(3, 116, 183);
}

.card-CSS{
  background-color: rgb(0, 162, 255);
}

.card-JavaScript{
  background-color: rgb(239,216,29);
  color: black;
}
.card__header {
  display: grid;
  grid-template-columns: 10% 60% 30%;
  align-items: center;
}

.card__header__rating {
  justify-self: end;
  display: flex;
  gap: 4px;
  align-items: center;
}

.card__lenguage {
  display: grid;
  place-content: center;
  font-weight: 600;
  font-size: 2rem;
}
